extends ../../../../app/views/layout

block content

	script(type="text/javascript").
		window.data = {
			adminUserExists: !{adminUserExists == true},
			ideJsPath: "!{buildJsPath('ide.js')}"
		}

	script(type="text/javascript" src='/socket.io/socket.io.js')

	style.
		hr { margin-bottom: 5px; }
		.status-check {
			margin-bottom: 15px;
		}
		.alert { margin-top: 15px; margin-bottom: 15px; }


	.content.content-alt(ng-controller="LaunchpadController")
		.container(ng-cloak)
			.row
				.col-md-10.col-md-offset-1
					.card.launchpad-body
						.row
							.col-md-12
								.text-center
									h1 Welcome to ShareLaTeX
									p
										img(src=buildImgPath('lion-128.png'))

						<!-- wrapper -->
						.row
							.col-md-8.col-md-offset-2


								<!-- create first admin form -->
								.row(ng-if="shouldShowAdminForm()")
									.col-md-12
										h2
											| Create the first Admin account
										form(async-form="register", name="registerForm", on-success="onCreateAdminSuccess"
												action="/launchpad/register_admin", method="POST", ng-cloak)
											input(name='_csrf', type='hidden', value=csrfToken)
											form-messages(for="registerForm")
											.form-group
												label(for='email') #{translate("email")}
												input.form-control(
													type='email',
													name='email',
													placeholder="email@example.com"
													required,
													ng-model="email",
													ng-init="email = #{JSON.stringify(new_email)}",
													ng-model-options="{ updateOn: 'blur' }",
													focus="true"
												)
												span.small.text-primary(ng-show="registerForm.email.$invalid && registerForm.email.$dirty")
													| #{translate("must_be_email_address")}
											.form-group
												label(for='password') #{translate("password")}
												input.form-control#passwordField(
													type='password',
													name='password',
													placeholder="********",
													required,
													ng-model="password",
													complex-password
												)
												span.small.text-primary(ng-show="registerForm.password.$error.complexPassword",
																								ng-bind-html="complexPasswordErrorMessage")
											.actions
												button.btn-primary.btn(
													type='submit'
													ng-disabled="registerForm.inflight || registerForm.password.$error.required|| registerForm.password.$error.complexPassword"
												)
													span(ng-show="!registerForm.inflight") #{translate("register")}
													span(ng-show="registerForm.inflight") #{translate("registering")}...

										<!-- success message -->
										.row(ng-if="createAdminSuccess")
											.col-md-12.text-center
												.alert.alert-success
													| Created admin user, Reloading...

										br

									<!-- status indicators -->
								div(ng-if="!shouldShowAdminForm()")
									.row
										.col-md-12.status-indicators

											h2 Status Checks

											<!-- ide js -->
											.row.status-check
												.col-sm-5
													| Editor
												.col-sm-7
													div(ng-switch="statusChecks.ideJs.status")

														span(ng-switch-when="inflight")
															i.fa.fa-fw.fa-spinner.fa-spin
															span &nbsp;Checking

														span(ng-switch-when="ok")
															i.fa.fa-check
															span &nbsp;Ok

														span(ng-switch-when="error")
															i.fa.fa-exclamation
															span &nbsp;Error
															div.alert.alert-danger
																| {{ statusChecks.ideJs.error }}


											<!-- websocket -->
											.row.status-check
												.col-sm-5
													| Websockets
												.col-sm-7
													div(ng-switch="statusChecks.websocket.status")

														span(ng-switch-when="inflight")
															i.fa.fa-fw.fa-spinner.fa-spin
															span &nbsp;Checking

														span(ng-switch-when="ok")
															i.fa.fa-check
															span &nbsp;Ok

														span(ng-switch-when="error")
															i.fa.fa-exclamation
															span &nbsp;Error
															div.alert.alert-danger
																| {{ statusChecks.websocket.error }}


									<!-- break -->
									hr

									<!-- other actions -->
									.row
										.col-md-10
											h2 Other Actions

											h3 Send a Test Email
											form.form
												.form-group
													label(for="emailInput") Email
													input(type="text", name="emailInput" ng-model="testEmail.emailAddress").form-control
												button(ng-click="sendTestEmail()", ng-disabled="testEmail.inflight").btn.btn-primary
													span(ng-show="!testEmail.inflight") #{translate("send")}
													span(ng-show="testEmail.inflight") #{translate("sending")}...
											div(ng-if="testEmail.status == 'ok'")
												.alert.alert-success
													| Email Sent
											div(ng-if="testEmail.status == 'error'")
												.alert.alert-danger
													| Error sending email





									<!-- break -->
									hr


									<!-- Go to ShareLaTex -->
									.row
										.col-md-12
											.text-center
												br
												p
													a(href="/project").btn.btn-lg.btn-primary
														| Go To ShareLaTeX
												br
